body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

body.dark-mode {
  background-color: black;
}

.navbar {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar #modeToggle {
  margin-left: auto;
  margin-right: 20px;
}

.navbar #modeToggle .fa-moon {
  display: none;
}

.navbar.dark-mode #modeToggle .fa-sun {
  display: none;
}

.navbar.dark-mode #modeToggle .fa-moon {
  display: inline;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
